#btns{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
body{
    width: 33%;
}
.btn{
    height:36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
#res{
    padding: 10px;
    font-size: 20px;
    background-color: lightgray;
    border: solid;
    height: 48px;
}
#btn0,#btn1{
    background-color:lightgreen ;
    color: brown;
}  
#btnClr,#btnEql{
    background-color: darkgreen ;
    color: white;
}

#btnSum,#btnSub,#btnMul,#btnDiv{
    background-color: black;
    color: red;
}


